.input-container_password {
  position: relative;
}

.placeholder {
  display: inline-block;
  position: relative;
  bottom: 3.2rem;
  left: 1rem;
  color: #aaaaaa;
}

.button_holder {
  position: absolute;
  right: 16px;
  top: -16px;
}
